SUBDIRS = src 

MAINTAINERCLEANFILES = \
	configure \
	aclocal.m4 \
	stamp-h.in \
	config.h.in \
	Makefile.in \
	aux_files/config.guess \
	aux_files/config.sub \
	aux_files/ltconfig \
	aux_files/ltmain.sh \
	aux_files/install-sh \
	aux_files/mkinstalldirs \
	aux_files/missing 

EXTRA_DIST = \
	aux_files/install-sh \
	aux_files/mkinstalldirs \
	aux_files/missing \
	aux_files/config.sub \
	aux_files/config.guess \
	aux_files/ltconfig \
	aux_files/ltmain.sh \
	Makefile.extra \
	build-rpm 

